.card {
    min-width: 350px;
    height: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    cursor: pointer;
    /* scroll-snap-align: start; */
    margin-left: 50px;
    z-index: 5;
    position: relative;
}
.card:hover {
    min-width: 300px;
    height: 340px;
    transform: scale(1.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 0px 21.751px 0px rgba(14, 30, 60, 0.12);
}
.card>button {
    display: none;
    justify-content: center;
    align-items: center;
}
.card:hover>.title {
    color: #F45D11;
}
.card:hover>button {
    width: 68px;
    height: 28px;
    background: #E9E9ED;
    border: none;
    position: relative;
    left: 32.5%;
    top: 10px;
    display: flex;
}
.card:hover>button>span{
    color: #83838A;
    font-size: 14px;
    letter-spacing: 0.84px;
}
.card:hover>button:hover {
    background: #DDDDE1;
}
.card:hover>button>img{
    display: none;
}
.card:hover>.properties {
    display: flex;
}


.windowType{
    font-size: 32px;
    font-weight: lighter;
    text-align: center;
    position: absolute;
    top: -55px;
}
.card:hover .windowType{
    top: -5px;
}
.title {
    color: #868686;
    font-size: 18px;
    font-weight: 400;
    line-height: 120.2%;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    margin-top: 20px;
}

.properties {
    width: 100%;
    display: none;
    justify-content: space-around;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
}

.properties>span>p:first-child {
    color: #868686;
    font-family: Segoe UI;
}

.properties>span>p:last-child {
    color: #000;
    font-family: Segoe UI;
}




.selectedCard {
    min-width: 300px;
    height: 340px;
    transform: scale(1.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 0px 21.751px 0px rgba(14, 30, 60, 0.12);
}


.selectedCard>.title {
    color: #F45D11;
}

.selectedCard>button {
    width: 68px;
    height: 28px;
    background: #E9E9ED;
    border: none;
    position: relative;
    left: 32.5%;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selectedCard>button>span{
    color: #83838A;
    font-size: 14px;
    letter-spacing: 0.84px;
}
.selectedCard>button:hover {
    background: #DDDDE1;
}
.selectedCard>button>img{
    display: none;
}
.selectedCard>.properties {
    display: flex;
}
.selectedCard .windowType{
    top: -5px;
}







@media screen and (max-width: 1065px) {
    .card {
        min-width: 300px;
        transform: scale(0.8);
    }

    .title {
        font-size: 18px;
    }
    .card:hover{
        min-width: 350px;
        min-height: 450px;
        transform: scale(0.7);
        padding: 5px;
    }
    .card:hover .windowType{
        top: 15px;
    }
    .card:hover .title{
        font-size: 24px;
    }
    .selectedCard {
        min-width: 350px;
        min-height: 450px;
        transform: scale(0.7);
        padding: 5px;
    }
    .selectedCard .windowType{
        top: 15px;
    }    
    .selectedCard>button {
        width: 68px;
    }

    .selectedCard>.title {
        font-size: 24px
    }
}

@media screen and (max-width: 955px) {
    .selectedCard {
        height: 45%;
    }
}

@media screen and (max-width: 740px) {
    .card {
        width: 280px;
        transform: scale(0.8);
    }
    .selectedCard {
        transition: scale(0.6);
    }
    .card button{
        width: 35px !important;
        height: 35px !important;
    }
    .card button>span{
        display: none;
    }
    .card button>img{
        display: block !important;
    }
    .selectedCard button{
        width: 35px !important;
        height: 35px !important;
    }
    .selectedCard button>span{
        display: none;
    }
    .selectedCard button>img{
        display: block;
    }
}

@media screen and (max-width: 685px) {
   
} 