.about {
  width: 100%;
  height: 630px;
  background-color: #F8F8F8;
  display: flex;
}
.about>div{
  width: 50%;
  height: 100%;
}
.aboutText {
  padding: 72px 120px;
}

.aboutText>h1{
  line-height: 72px;
  margin-bottom: 19px;
}

.aboutText>p {
  width: 95%;
  font-weight: 400;
  line-height: 2;
  font-family: 'Segoe UI';
}


.aboutImageContainer {
  display: flex;
  justify-content: flex-end;
}




@media screen and (max-width: 1553px) {
  .aboutText>h1 {
    font-size: 55px;
  }
  .aboutText>p {
    font-size: 15px;
  }
}

@media screen and (max-width: 1350px) {
  .about {
    height: 450px;
  }
  .about>div{
    width: 50%;
  }

  .aboutText{
    height: 400px;
    padding: 30px;
    display: flex; 
    justify-content: center;
    flex-direction: column;
 }
  .aboutText>h1 {
    width: 100%;
    font-size: 30px;
    letter-spacing: 1.04px;
    /* position: relative;
    top: -15px; */
  }
  .aboutText>p {
    width: 100%;
    color: #000;
    font-size: 13px;
    line-height: 160%;
  }
}

@media screen and (max-width: 768px) {
  .about {
    height: 400px;
  }
  .about>div{
    width: 50%;
  }
  .aboutImageContainer{
    width: 100%;
  }
  .aboutText{
    height: 300px;
    padding: 35px;
    display: flex; 
    justify-content: center;
    flex-direction: column;
 }
  .aboutText>h1 {
    width: 100%;
    font-size: 24px;
    margin-bottom: 0;
    /* position: relative;
    top: -15px; */
  }
  .aboutText>p {
    width: 100%;
    color: #000;
    font-family: "Segoe UI";
    font-size: 11px;
    line-height: 160%;
  }
}

@media screen and (max-width: 600px) {
  .about {
    height: 615px;
    flex-direction: column-reverse;
  }
  .about>div{
    width: 100%;
  }
  .aboutImageContainer{
    width: 100%;
  }
  .aboutText{
    padding: 37px;
  }
  .aboutText>h1 {
    color: #000;
    font-size: 26px;
    letter-spacing: 1.04px;
    font-weight: 400;
    position: relative;
    top: -15px;
  }
  .aboutText>p {
    width: 100%;
    color: #000;
    font-family: "Segoe UI";
    font-size: 12px;
    line-height: 160%;
  }
}

@media screen and (max-width: 400px) {
  .about {
    height: 615px;
    flex-direction: column-reverse;
  }
  .about>div{
    width: 100%;
  }
  .aboutImageContainer{
    height: 264px;
    width: 100%;
  }
  .aboutText{
    height: 351px;
    padding: 40px;
  }
  .aboutText>h1 {
    width: 100%;
    font-size: 26px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.04px;
    position: relative;
    top: -15px;
  }
  .aboutText>p {
    width: 100%;
    color: #000;
    font-family: "Segoe UI";
    font-size: 12px;
    line-height: 160%;
  }
}