* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arm Hmks Bebas Neue Regular";
}

html {
  scroll-behavior: smooth;
  scroll-padding: 125px;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.title {
  color: #000;
  /* font-family: Arm Hmk's Bebas Neue; */
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
}
.toDownLInk{
  cursor: default;
  color: unset;
}
@media screen and (max-width: 1060px) {
  html{
    scroll-padding: 88px;
  }
}
@media only screen and (max-width: 768px) {
  .title {
    font-size: 45px;
    letter-spacing: 1.04px;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 32px;
    letter-spacing: 1.04px;
  }
}


@media only screen and (max-width: 400px) {
  .title {
    font-size: 26px;
    letter-spacing: 1.04px;
  }
}