.store {
    width: 100%;
    height: 1080px;
    min-height: auto;
    padding-top: 120px;
    padding-bottom: 120px;
}

.store>h1 {
    padding-left: 120px;
}

.windows {
    width: 100vw;
    height: 300px;
    background: #F9F9FC;
    margin-top: 110px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth; 
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* .windows {
        padding: 0;
        position: inherit;
        margin-top: 70px;
} */

.windows::-webkit-scrollbar {
    display: none;
}

.windows {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.windowProperties {
    width: 100vw;
    height: 565px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: white;
}

.absoluteBackground {
    display: none;
    width: 100vw;
    height: 160px;
    background: #F9F9FC;
    position: absolute;
    z-index: -1;
}

@media screen and (max-width: 1300px) {
    .store {
        width: 100%;
        height: 969px;
    }

    .windowProperties {
        height: 500px;
    }
}

@media screen and (max-width: 1065px) {
    .store {
        height: 1780px;
    }

    .store>h1 {
        font-size: 40px;
        padding-left: 80px;
    }

    .windowProperties {
        height: 465px;
        margin-top: 120px;
    }
}

@media screen and (max-width: 955px) {
    .store {
        height: 2020px;
    }
}

@media screen and (max-width: 740px) {
    .store {
        height: 2400px;
    }
}


@media screen and (max-width: 685px) {
    .store {
        height: 1710px;
    }

    .absoluteBackground {
        display: block;
    }

    .windows {
        position: inherit;
        margin-top: 70px;
    }

    .windowProperties {
        margin-top: 80px;
    }
}


@media screen and (max-width: 610px) {
    .store {
        height: 1684px;
    }

    .windowProperties {
        margin-top: 40px;
    }
}

@media screen and (max-width: 560px) {
    .store {
        height: 2554px;
    }

    .windowProperties {
        margin-top: 20px;
    }
}

@media screen and (max-width: 490px) {
    .store {
        height: 2964px;
    }
}

@media screen and (max-width: 390px) {
    .store {
        height: 2514px;
    }
}