.store {
    width: 100%;
    min-height: auto;
    padding-top: 120px;
    padding-bottom: 120px;
}

.store>h1 {
    padding-left: 120px;
}

.windows {
    width: 100vw;
    min-height: 370px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* .windows {
        padding: 0;
        position: inherit;
        margin-top: 70px;
} */

.windows::-webkit-scrollbar {
    display: none;
}

.windowProperties {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.absoluteBackground {
    width: 100vw;
    height: 300px;
    background: #F9F9FC;
    position: absolute;
    left: 0;
    z-index: -1;
}

@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1065px) {
    .store>h1 {
        font-size: 40px;
        padding-left: 80px;
    }
}

@media screen and (max-width: 955px) {}


@media screen and (max-width: 685px) {
    .absoluteBackground {
        display: block;
    }

    .windows {
        position: inherit;
        margin-top: 70px;
    }
}


@media screen and (max-width: 580px) {}

@media screen and (max-width: 390px) {}